body {
  background-color: #393e46;
  text-align: center;
}
h1 {
  margin: 0 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}
.instruction {
  width: 75%;
  text-align: center;
  margin: auto;
  color: #e2e22b;
}
div {
  display: inline-block;
}
p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}
img {
  width: 80%;
}
button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #9c060c;
  color: white;
  border: none;
}
footer {
  color: #eeeeee;
  margin-top: 20px;
  font-family: "Indie Flower", cursive;
}

#turn {
  margin-top: 20px;
}
