body {
  background-color: #283148;
  text-align: center;
}
.buttons {
  margin: 10% auto;
}
button {
  color: #da0463;
  font-size: 5rem;
  border: 10px solid #404b69;
  border-radius: 15px;
  font-family: "Arvo", cursive;
  height: 150px;
  width: 150px;
  font-weight: 900;
  text-shadow: 3px 0 #dbedf3;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
h1 {
  text-shadow: 3px 0 #da0463;
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}
.w {
  background-image: url("./images/tom1.png");
}
.a {
  background-image: url("./images/tom2.png");
}
.s {
  background-image: url("./images/tom3.png");
}
.d {
  background-image: url("./images/tom4.png");
}
.j {
  background-image: url("./images/snare.png");
}
.k {
  background-image: url("./images/crash.png");
}
.l {
  background-image: url("./images/kick.png");
}
.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
